![Two data scientists working on a dashboard.](assets/hr-image-small.png)

**A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.**

You've been hired by a major online data science training provider called *Training Data Ltd.* to clean up one of their largest customer datasets. This dataset will eventually be used to predict whether their students are looking for a new job or not, information that they will then use to direct them to prospective recruiters.

You've been given access to `customer_train.csv`, which is a subset of their entire customer dataset, so you can create a proof-of-concept of a much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `student_id`   | A unique ID for each student.                 |
| `city`  | A code for the city the student lives in.  |
| `city_development_index` | A scaled development index for the city.       |
| `gender` | The student's gender.       |
| `relevant_experience` | An indicator of the student's work relevant experience.       |
| `enrolled_university` | The type of university course enrolled in (if any).       |
| `education_level` | The student's education level.       |
| `major_discipline` | The educational discipline of the student.       |
| `experience` | The student's total work experience (in years).       |
| `company_size` | The number of employees at the student's current employer.       |
| `last_new_job` | The number of years between the student's current and previous jobs.       |
| `training_hours` | The number of hours of training completed.       |
| `job_change` | An indicator of whether the student is looking for a new job (`1`) or not (`0`).       |

The Head Data Scientist at Training Data Ltd. has asked you to create a DataFrame called ds_jobs_clean that stores the data in customer_train.csv much more efficiently. Specifically, they have set the following requirements:

- Columns containing integers must be stored as 32-bit integers (int32).
- Columns containing floats must be stored as 16-bit floats (float16).
- Columns containing nominal categorical data must be stored as the category data type.
- Columns containing ordinal categorical data must be stored as ordered categories, and not mapped to numerical values, with an order that reflects the natural order of the column.
- The columns of ds_jobs_clean must be in the same order as the original dataset.
- The DataFrame should be filtered to only contain students with 10 or more years of experience at companies with at least 1000 employees, as their recruiter base is suited to more experienced professionals at enterprise companies.

If you call .info() or .memory_usage() methods on ds_jobs and ds_jobs_clean after you've preprocessed it, you should notice a substantial decrease in memory usage.

In [1]:
# Import Libraries
import pandas as pd

# Load the dataset
ds_jobs = pd.read_csv("data/customer_train.csv")
ds_jobs.head()

,student_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,job_change
0,8949,city_103,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1
1,29725,city_40,0.776,Male,No relevant experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
2,11561,city_21,0.624,NaN,No relevant experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0
3,33241,city_115,0.789,NaN,No relevant experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1
4,666,city_162,0.767,Male,Has relevant experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0

In [2]:
# Check the data types of the columns
ds_jobs.info()

# Check the unique values of the columns with object data type
unique_values = {col: ds_jobs[col].unique() for col in ds_jobs.select_dtypes(include=['object']).columns}
unique_values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

{'city': array(['city_103', 'city_40', 'city_21', 'city_115', 'city_162',
        'city_176', 'city_160', 'city_46', 'city_61', 'city_114',
        'city_13', 'city_159', 'city_102', 'city_67', 'city_100',
        'city_16', 'city_71', 'city_104', 'city_64', 'city_101', 'city_83',
        'city_105', 'city_73', 'city_75', 'city_41', 'city_11', 'city_93',
        'city_90', 'city_36', 'city_20', 'city_57', 'city_152', 'city_19',
        'city_65', 'city_74', 'city_173', 'city_136', 'city_98', 'city_97',
        'city_50', 'city_138', 'city_82', 'city_157', 'city_89',
        'city_150', 'city_70', 'city_175', 'city_94', 'city_28', 'city_59',
        'city_165', 'city_145', 'city_142', 'city_26', 'city_12',
        'city_37', 'city_43', 'city_116', 'city_23', 'city_99', 'city_149',
        'city_10', 'city_45', 'city_80', 'city_128', 'city_158',
        'city_123', 'city_7', 'city_72', 'city_106', 'city_143', 'city_78',
        'city_109', 'city_24', 'city_134', 'city_48', 'city_144',
        'city_91', 'city_146', 'city_133', 'city_126', 'city_118',
        'city_9', 'city_167', 'city_27', 'city_84', 'city_54', 'city_39',
        'city_79', 'city_76', 'city_77', 'city_81', 'city_131', 'city_44',
        'city_117', 'city_155', 'city_33', 'city_141', 'city_127',
        'city_62', 'city_53', 'city_25', 'city_2', 'city_69', 'city_120',
        'city_111', 'city_30', 'city_1', 'city_140', 'city_179', 'city_55',
        'city_14', 'city_42', 'city_107', 'city_18', 'city_139',
        'city_180', 'city_166', 'city_121', 'city_129', 'city_8',
        'city_31', 'city_171'], dtype=object),
 'gender': array(['Male', nan, 'Female', 'Other'], dtype=object),
 'relevant_experience': array(['Has relevant experience', 'No relevant experience'], dtype=object),
 'enrolled_university': array(['no_enrollment', 'Full time course', nan, 'Part time course'],
       dtype=object),
 'education_level': array(['Graduate', 'Masters', 'High School', nan, 'Phd', 'Primary School'],
       dtype=object),
 'major_discipline': array(['STEM', 'Business Degree', nan, 'Arts', 'Humanities', 'No Major',
        'Other'], dtype=object),
 'experience': array(['>20', '15', '5', '<1', '11', '13', '7', '17', '2', '16', '1', '4',
        '10', '14', '18', '19', '12', '3', '6', '9', '8', '20', nan],
       dtype=object),
 'company_size': array([nan, '50-99', '<10', '10000+', '5000-9999', '1000-4999', '10-49',
        '100-499', '500-999'], dtype=object),
 'company_type': array([nan, 'Pvt Ltd', 'Funded Startup', 'Early Stage Startup', 'Other',
        'Public Sector', 'NGO'], dtype=object),
 'last_new_job': array(['1', '>4', 'never', '4', '3', '2', nan], dtype=object)}

In [3]:
# Copy the DataFrame for cleaning
ds_jobs_clean = ds_jobs.copy()

# Create a dictionary of columns containing ordered categorical data
ordered_cats = {
    'relevant_experience': ['No relevant experience', 'Has relevant experience'],
    'enrolled_university': ['no_enrollment', 'Part time course', 'Full time course'],
    'education_level': ['Primary School', 'High School', 'Graduate', 'Masters', 'Phd'],
    'experience': ['<1'] + list(map(str, range(1, 21))) + ['>20'],
    'company_size': ['<10', '10-49', '50-99', '100-499', '500-999', '1000-4999', '5000-9999', '10000+'],
    'last_new_job': ['never', '1', '2', '3', '4', '>4']
}

# Loop through DataFrame columns to efficiently change data types
for col in ds_jobs_clean:
    
    # Convert integer columns to int32
    if ds_jobs_clean[col].dtype == 'int':
        ds_jobs_clean[col] = ds_jobs_clean[col].astype('int32')
    
    # Convert float columns to float16
    elif ds_jobs_clean[col].dtype == 'float':
        ds_jobs_clean[col] = ds_jobs_clean[col].astype('float16')
    
    # Convert columns containing ordered categorical data to ordered categories using dict
    # Converting object type columns to categorical data type can lead to more efficient and clearer code, 
    # as well as improved performance in terms of memory usage and computation time.
    elif col in ordered_cats.keys():
        category = pd.CategoricalDtype(ordered_cats[col], ordered=True)
        ds_jobs_clean[col] = ds_jobs_clean[col].astype(category)
    
    # Convert remaining columns to standard categories
    else:
        ds_jobs_clean[col] = ds_jobs_clean[col].astype('category')
        
        
ds_jobs_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int32
 1   city                    19158 non-null  category
 2   city_development_index  19158 non-null  float16
 3   gender                  14650 non-null  category
 4   relevant_experience     19158 non-null  category
 5   enrolled_university     18772 non-null  category
 6   education_level         18698 non-null  category
 7   major_discipline        16345 non-null  category
 8   experience              19093 non-null  category
 9   company_size            13220 non-null  category
 10  company_type            13018 non-null  category
 11  last_new_job            18735 non-null  category
 12  training_hours          19158 non-null  int32
 13  job_change              19158 non-null  int32
dtypes: category(10), float16(1), int32(3)
memory usage: 456.5 KB

In [4]:
# Filter students with 10 or more years experience at companies with at least 1000 employees
ds_jobs_clean = ds_jobs_clean[(ds_jobs_clean['experience'] >= '10') & (ds_jobs_clean['company_size'] >= '1000-4999')]
ds_jobs_clean.head()

,student_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,job_change
9,699,city_103,0.919922,NaN,Has relevant experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0
12,25619,city_61,0.913086,Male,Has relevant experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,3,23,0
31,22293,city_103,0.919922,Male,Has relevant experience,Part time course,Graduate,STEM,19,5000-9999,Pvt Ltd,>4,141,0
34,26494,city_16,0.910156,Male,Has relevant experience,no_enrollment,Graduate,Business Degree,12,5000-9999,Pvt Ltd,3,145,0
40,2547,city_114,0.925781,Female,Has relevant experience,Full time course,Masters,STEM,16,1000-4999,Public Sector,2,14,0

In [5]:
# Comparing memory usage
print(ds_jobs.memory_usage())
print("--------------------------")
print(ds_jobs_clean.memory_usage())

Index                        132
student_id                153264
city                      153264
city_development_index    153264
gender                    153264
relevant_experience       153264
enrolled_university       153264
education_level           153264
major_discipline          153264
experience                153264
company_size              153264
company_type              153264
last_new_job              153264
training_hours            153264
job_change                153264
dtype: int64
--------------------------
Index                     17608
student_id                 8804
city                       7353
city_development_index     4402
gender                     2333
relevant_experience        2325
enrolled_university        2333
education_level            2413
major_discipline           2421
experience                 2933
company_size               2565
company_type               2421
last_new_job               2421
training_hours             8804
job_change                 8804
dtype: int64